<%= render "/refinery/pages/shared/header"%>

<div>
	<div class="content_wrap bck_white max_w_100">
		<div class="pad_t_4_240_st pad_t_0_900_st">
			<div class="pad_tb_2">
				<div>
					
						<div class="column_1 pad_r_15r_900_st pad_r_20r_900_st pad_r_25r_1024_st">
							<%= render "refinery/pages/shared/indice"%>
						</div>
					
				</div>
				<div class="row_lm">
					<div class="pad_tb_1_900_st">
						<div class="pad_1_divs fs_15 collpase_download">
							<%= render "/refinery/pv_interest_links/pv_interest_links/enlace_interes/link_category"%>
						</div>
					</div>
				</div>
			</div>
			<%= render "/refinery/pages/shared/main_blocks"%>
		</div>
	</div>								
</div>

<%= render "/refinery/pages/shared/footer"%>