<div class="max_w_100 mar_auto footer_links_container">
	<div class="column_container text-center pad_1_divs  max_w_90 mar_auto">
		<div class="column_1 g_s480_50p g_s700_33p g_s1366_column_6">
			<div class="h7 w100p relative w10_1366_st">
				<div class="center_absolute h5">
					<%=image_tag "/assets/logo_fogade.jpg", alt: "", class: "h4 center_absolute" %>
				</div>
			</div>
		</div>
		<div class="column_1 g_s480_50p g_s700_33p g_s1366_column_6">
			<div class="h7 w100p relative w10_1366_st">
				<div class="center_absolute h5">
					<%=image_tag "/assets/logo_banpro.jpg", alt: "", class: "h4" %>
				</div>
			</div>
		</div>
		<div class="column_1 g_s480_50p g_s700_33p g_s1366_column_6">
			<div class="h7 w100p relative w12_1024_st">
				<div class="center_absolute h5">
					<%=image_tag "/assets/logo_almexsa.svg", alt: "", class: "h4" %>
				</div>
			</div>
		</div>
		<div class="column_1 g_s480_50p g_s700_33p g_s1366_column_6">
			<div class="h7 w100p relative w7_1024_st">
				<div class="center_absolute h7">
					<%=image_tag "/assets/logo_siboif.jpg", alt: "", class: "h5" %>
					<div class="light c_green_1 fs_12 mar_t_05">
						SIBOIF
					</div>
				</div>
			</div>
		</div>
		<div class="column_1 g_s480_50p g_s700_33p g_s1366_column_6">
			<div class="h7 w100p relative w7_1024_st">
				<div class="center_absolute h7">
					<%=image_tag "/assets/logo_bcn.jpg", alt: "", class: "h5" %>
					<div class="light c_green_1 fs_12 mar_t_05">
						BCN
					</div>
				</div>
			</div>
		</div>
		<div class="column_1 g_s480_50p g_s700_33p g_s1366_column_6">
			<div class="h7 w100p relative w7_1024_st">
				<div class="center_absolute h7">
					<%=image_tag "/assets/logo_bvn.jpg", alt: "", class: "h5" %>
					<div class="light c_green_1 fs_12 mar_t_05">
						Bolsa NIC
					</div>
				</div>
			</div>
		</div>
	</div>
</div>