<!-- body container -->
<div>
	<div class="bck_h_100 relative " style="background-image: url(/assets/404_cover.jpg);">
		<div class="description_head max_w_100 mar_auto bck_cover pad_lr_5_900_st">

			<div class="midd_container h40_240_st h30_480_st w40_900_st w35_900_st pad_t_3_240_st pad_t_0_900_st">

				<div class="midd_cell pad_2 z2">
					
					<div class="content_wrap">
						<div class="uppercase">
							<span class="title_subpage pad_r_1">UPs...</span>
							<span class="uppercase c_green_1  fs_15">algo salio mal</span>
						</div>
						<div class="row_lm c_green_1">
							Lo sentimos, no pudimos encontrar la página solicitada
							<br><br>
							Talvez te interes otros enlaces o presiona el boton de regresar para volver
						</div>
						<!-- <a href="" class="btn_ovalo_sm bck_green_1 c_white fs_09 bolder uppercase mar_t_1">volver</a> -->
						<div class="pad_t_1 inline ">
							<a class="c_green_2 bolder block pad_tb_1 relative list_icon_link pad_r_4" href="/" data-ajax="false">Regresar</a>
						</div>

					</div>

				</div>
			</div>
		</div>

	</div>

	<!-- split -->
	<div class="split_green arrow arrow_green w100p mar_auto max_w_100">
		
	</div>
	<br>


	<div class="row_lm">
		<div class="content_wrap">
			<div class="max_w_100 mar_auto">
				<div class="column_container">

					<%Refinery::PvHomeMainSections::PvHomeMainSection.all.each_slice(3) do |blocks|%>
						<%blocks.each_with_index do |block, index|%>

							<%if index == 0%>
								<%valiable1 = "pad_b_4_240_st"%>
								<%valiable2 = "pad_r_3_1024_st"%>
							<%elsif index == 1%>
								<%valiable1 = "pad_tb_4_240_st pad_lr_3_1024_st"%>
								<%valiable2 = "border_3_block"%>
							<%elsif index == 2%>
								<%valiable1 = "pad_t_4_240_st"%>
								<%valiable2 = "pad_l_3_1024_st"%>
							<%end%>

							<div class="column_1 g_s1024_33p <%= valiable1%> pad_tb_0_1024_st <%= valiable2%>">
								<div class="relative pad_l_15r_700_st pad_l_0_1024_st block_divs">

									<%=link_to block.title, (block.link || ""), :class=> "pad_b_1_240_st pad_l_2_700_st pad_l_0_1024_st title_block_1"%>

									<%= link_to "", (block.link || ""), :class=> "h10_240_st h10_1024_st h100p_700_st absolute_tl_700_st relative_1024_st w15_700_st w100p_1024_st bck_cover", :style => "background-image:url('#{block.photo.url}');"%>

									<%= link_to block.description.html_safe, (block.link || ""), :class=> "pad_t_1_240_st pad_l_2_700_st pad_l_0_1024_st pad_t_2_1024_st body_text_2"%>
								</div>
							</div>
						<%end%>
					<%end%>
				</div>
			</div>
		</div>
	</div>

</div>