<% content_for :body_content_title do %>
  <%= @pv_home_main_section.title %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @pv_home_main_section.title %>
    </p>
  </section>
  <section>
    <h1>Photo</h1>
    <p>
      <%= image_fu @pv_home_main_section.photo, nil %>
    </p>
  </section>
  <section>
    <h1>Description</h1>
    <p>
      <%=raw @pv_home_main_section.description %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="pv_home_main_sections">
      <% @pv_home_main_sections.each do |pv_home_main_section| %>
        <li>
          <%= link_to pv_home_main_section.title, refinery.pv_home_main_sections_pv_home_main_section_path(pv_home_main_section) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
